@charset "utf-8";

/*reset*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  font-family: "sans-serif";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3 ,p {
  font-weight: normal;
  margin: 0;
}

/*style*/

body {
  font-size: 16px;
  font-family: "Yu Mincho","Hiragino Mincho ProN" ,sans-serif;
  padding-top: 72px;
  max-width: 1440px;
  margin: 0 auto;
  color: #2e2e2e;
  background-color: #f3f2f2;
}

.header_section {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 56px;
  display: flex;
  padding: 8px 0px;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px #4f6abb;
  
}

.site_title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Yu Gothic UI" ,"	Hiragino Sans" ,sans-serif;
  background-color: #4f6abb;
  border: solid 3px #586899;
  color: aliceblue;
  padding: 4px 8px;
  margin-left: 24px;
  border-radius: 16px;
  width: 150px;
  text-align: center;
}

.site_title a:hover {
  opacity: 0.7;
	transition: 0.3s;
  color: #e7e8e9;
}

.nav {
  margin: 0 0 0 auto;
  margin-right: 40px;
}

.nav_list {
  display: flex;
  justify-content: right;
}

.nav_list a:hover {
  opacity: 0.7;
  transition: 0.3s;
  color: #4f6abb;
}

.nav_item {
  padding-left: 40px;
  padding-top: 16px;
}

.hero_section_container {
  background-image: url(../image/hero-section-mv.webp);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_section_text {
  max-width: 1440px;
  font-size: 3rem;
  padding-left: 16px;
  line-height: 1.5;
  color: rgb(91, 91, 92);
  position: absolute;
  top: 10%;
  left: 15%;
}

.about_title , .diary_title {
  font-family: "Arial" ,sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2rem;
  text-shadow:1px 1px 0px #999999;
}

#about {
  padding-top: 40px;
}

.about_icon {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px #b2b2b2;
}

.about_icon a:hover {
  opacity: 0.7;
	transition: 0.3s;
}

.about_icon a img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.about_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about_lead {
  font-size: 1.5rem;
  font-family: "Yu Gothic UI" ,"	Hiragino Sans" ,sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
  margin-left: 160px;
}

.about_text {
  line-height: 1.5;
  margin-left: 160px;
}

#diary {
  padding-top: 40px;
}

.diary_image img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.diary_image {
   box-shadow: 5px 5px 5px #b2b2b2;
}

.diary_image a:hover {
  opacity: 0.7;
	transition: 0.3s;
}

.diary_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diary_item {
  margin-left: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.diary_lead {
  font-size: 1.5rem;
  font-family: "Yu Gothic UI" ,"	Hiragino Sans" ,sans-serif;
  font-weight: bold;
  margin-top: 16px;
}

.diary_text {
  margin-top: 16px;
}

#footer {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/**タブレットサイズ**/

@media screen and (max-width:768px) {
body {
   max-width: 768px;
}

.hero_section_container {
  height: 400px;
}

.hero_section_text {
  font-size: 2rem;
  left: 5%;
}

.about_item {
  margin-left: 16px;
}

.about_icon a img {                                                                              
  width: 250px;
  height: 250px;
  aspect-ratio: 1 / 1;
}

.about_icon {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.about_text {
  margin-left: 0 ;
}

.about_lead {
  margin-left: 0;
}
}

/**スマートフォンサイズ**/

@media screen and (max-width: 414px) {
body {
  max-width: 414px;
}

.header_section {
  position: fixed;
  width: 100%;
  max-width: 414px;
  height: 48px;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
  border-bottom: solid 1px #364e96;
  right: 0;
  left: 0;
  padding: 8px 0 16px 8px;
}

.hero_section_container {
  height: 300px;
}

.hero_section_text {
  font-size: 1.5rem;
  left: 5%;
}

}


  


 








